doctype html
html
  head
    title= title
    meta( charset="utf-8" )
    link(rel='stylesheet', href='/stylesheets/pokedex.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/pokedex.js')
  header.page-header
   .container
    .row
     .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 #{title}

  body
    block content
