extends layout

block content
 div.main
  div.container
   div.chat-log(id="pokedexChat")
    div.chat-log__item
     h3.chat-log__author Pokedex 
      //small 14:30
     div.chat-log__message Hola, ¿En que puedo ayudarte? 

  div.chat-form
   div.container
    form.form-horizontal(id="pokedexForm",action="#")
     div.row
      div.col-sm-10.col-xs-8
       input.form-control(id="pokedexInput",required="true",type="text",placeholder="¿Que es un pokedex?")
      div.col-sm-2.col-xs-4
       button.btn.btn-success.btn-block(id="pokedexButton",type="submit") send

 include footer
